


body {
	background-color: black;
	color: white;
}

.block {
	float: left;
	text-align: center;
	width: 50%;
}

.image {
	width: 100%;
	height: 100%;
}
.imageSector{
	float: left;
}
.imageContainer {
	width: 100%;
	display: flex;
}

h1, h2, h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}

.text, .textBody {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textBody {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}